@model CarroModel
@{
    ViewData["Title"] = "Retirar veículo";
}

<div class="text-center">



    <h1 class="display-4">Veículo</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Placa</th>
                <th scope="col">Preço Inicial</th>
                <th scope="col">Preço por Hora</th>


            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Placa</td>
                <td>@Model.PrecoInicial</td>
                <td>@Model.PrecoHora</td>
                
            </tr>

        </tbody>
    </table>
</div>

<div class="d-grig gap-2 d-md-flex justify-content-md-start">
    <form asp-controller="Carro" asp-action="Alterar" method="post">
        <input type="hidden" asp-for="Id"/>
        <div class="mb-3">
            <label for="horasestacionado" class="form-label">Horas Estacionado</label>
            <input type="text" class="form-control" asp-for="HorasEstacionado" placeholder="Digite o tempo estacionado">


        </div>
        <button type="submit" class="btn btn-primary" >Calcular Preço Total</button>
        <a class="btn btn-secondary" asp-controller="Carro" asp-action="Index" role="button">Voltar</a>
    </form>

</div>


