@{
    ViewData["Title"] = "Retirar veículo";
}

<div class="text-center">

    <h1 class="display-4">Veículo</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Placa</th>
                <th scope="col">Preço Inicial</th>
                <th scope="col">Preço por hora</th>
                <th scope="col">Horas Estacionado</th>
                <th scope="col">Valor Total</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mat-5567</td>
                <td>5,0</td>
                <td>2,0</td>

                <td><a role="button" class="btn btn-danger">Retirar Veículo</a></td>
            </tr>
        </tbody>
    </table>

</div>

