@model CarroModel
@{
    ViewData["Title"] = "Retirar veículo";
}

<div class="text-center">



    <h1 class="display-4">Veículo</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Placa</th>
                <th scope="col">Preço Inicial</th>
                <th scope="col">Preço por hora</th>
                <th scope="col"></th>


            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Placa</td>
                <td>@Model.PrecoInicial</td>
                <td>@Model.PrecoHora</td>
                <td><a role="button" class="btn btn-danger" asp-controller="Carro" asp-action="Apagar" asp-route-id="@Model.Id">Apagar Veículo</a></td>
            </tr>

        </tbody>
    </table>
</div>

<div class="d-grig gap-2 d-md-flex justify-content-md-start">
    <form asp-controller="Carro" asp-action="Calcular" method="post">
        <div class="mb-3">
            <label for="horastotais" class="form-label">Horas Estacionado</label>
            <input type="text" class="form-control" placeholder="Digite o tempo estacionado">
            <label for="precototal" class="form-label"  ></label>
            <input type="text" class="form-control" disabled="disabled" placeholder="Preço Total">


        </div>
        <button type="submit" class="btn btn-primary" asp-controller="Carro" asp-action="Index">Calcular Preço Total</button>
        <a class="btn btn-secondary" asp-controller="Carro" asp-action="Index" role="button">Voltar</a>
    </form>

</div>


