@{
    ViewData["Title"] = "Página Inicial";
}

<div id="inicial" class="text-center">
    <h1 class="display-4">Seu estacionamento!</h1>
    <h2 class="display-6">Gerencie os veículos de forma simples.</h2>
    
</div>
